[Desktop Entry]
Name=ROX-Pager
Comment=Desktop Pager
Comment[pl]=Przełącznik pulpitów
Exec=/usr/lib/ROX-apps/Pager/AppRun
Icon=rox-Pager
Type=Application
Terminal=false
Categories=GTK;Utility;
# vi: encoding=utf-8